{% extends "base.html" %}
{% block title %} Die Mark {% endblock %}

{% block sidebar_top %}
<div id="image" onclick="document.location.href='/system/login.html';">
	<img src="/static/img/uilogo.png" \>
</div>
{% endblock %}

{% block content_top %}
<div id="area">
	<div id="area_headline"><div id="areatext">WILLKOMMEN!</div></div>
	<div id="area_content">
		<div id="headline"><div id="areatext">Willkommen auf der Intranetseite der Mark!</div></div>
	</div>
</div>
{% endblock %}
{% block content_bottom %}
<div id="area">
	<div id="area_headline"><div id="areatext">Öffnungszeiten</div></div>
	<div id="area_content"><div id="areatext"> SO, 19.00 bis 22.00 UHR <br>
				DO, 19.30 bis 22.00 UHR </div>
	</div>
</div>



<div id="area">
	<div id="area_headline"><div id="areatext">Infos zum Schuljahresanfang</div></div>
	<div id="area_content"> <div id="areatext">HIER MUSS NOCH TEXT HIN ABER DER PROGGER WAR FAUL </div></div>
</div>
{% endblock %}
