{% extends "homepage.html" %} 
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
	<link rel="stylesheet" href="/static/css/selling.css" />
	<script src="/static/js/selling.js" charset="UTF-8" type="text/javascript"></script>
{% endblock %}

{% block content_top %}
<div id="area">
	<div id="area_headline"><div id="areatext"><div id="usernameOutput" ><div id="usernameText" onclick="DrawUserSelectoin()">Select User...</div></div></div></div>
	<div id="area_content">
		<div id="headline"><div id="areatext">Angeschrieben: <div id="usernameDebt"></div></div></div>
	</div>
</div>
{% endblock %}


{% block content_bottom %}
<div id="area">
	<div id="area_headline"><div id="areatext">Auswahl</div></div>
	<div id="area_content"><div id="areatext">
		<div id="content"></div>
		<div id="productControl">
			<button onclick="ProductBack()">Zurueck</button>
			<button onclick="ProductCancel()">Abbrechen</button>
			<button onclick="DrawFinishScreen(0.0)">Abschliessen</button>
		</div>
	</div>
</div>
<script type="text/javascript">

	DrawProductScreen();
</script>
{% endblock %}


{% block sidebar_bottom %}
<div id="area">
	<div id="area_headline"><div id="areatext">Auswahl</div></div>
	<div id="area_content"><div id="areatext">
		<div id="sidebarOutput">
		
		</div>
	</div>
</div>
{% endblock %}
