body div#content_bottom div#area div#area_content{
    min-height: 300px;   
    overflow-y: auto;
    width: 100%;
}

body div#content_bottom {
    top: 0px;
    position: absolute;
    left: 50%;
    width: 1024px;
    height: 780px;
    
    
}
div#sidebar_bottom button {
    width:150px;
    height: 50px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #000000;
    font-family: Roboto;
    color: #e98f0a;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.3);
}

body div#sidebar_bottom div#area div#area_content {
    min-height: 500px;   
    overflow-x: none;
}


body div#content_bottom div#area div#area_content {
    min-height: 485px;   
    overflow-x: auto;
}

div#PendingOrder_content {
    
}

div#PendingOrder_content div#singlePendingOrder {
    position: relative;
    background-color: #333333;
    border-radius: 10px;
    border-color: #000000;
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.3);
    width: 500px;
    margin-left: 20px;
    margin-top: 4px;
}

div#PendingOrder_content div#singlePendingOrder div#PendingOrderUser {
    background-color: #000000;
    width: 300px;
    border-radius: 10px 0px;
    text-align: center;
}

div#PendingOrder_content div#singlePendingOrder div#PendingOrderProduct {
    margin-left: 20px;
    height:     25px;
}

div#PendingOrder_content div#singlePendingOrder button#FinishPendingOrderButton {
    display: none;
}

div#PendingOrder_content div#singlePendingOrder button#CancelPendingOrderButton {
    display: none;
}

